:root {
    --accent: #ffd479;

    --font-base: 'Roboto', sans-serif;
    --font-accent: 'Bebas Neue', sans-serif;
}

body {
    background-color: #1f2a32;
    color: #fafaf5;
    font-family: var(--font-base);
    font-weight: 300;
}

.title-1 {
    font-family: var(--font-accent);
    color: var(--accent);
    font-weight: bold;
    font-size: 96px;
}

.containet {
    max-width: 1200px;
    width: 100%;
    margin: 0auto;
    padding: 0 15px;
}